{{#each messages}}
<div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    {{this}}
</div>
{{/each}}

<div class="page-header">
    <h1>Összes tantárgy</h1>
</div>

{{log model}}
{{subject-list errors=model}}

{{!--<p>{{link-to "Új hiba felvitele" "errors.new" class="btn btn-default" id="newErrorButton"}}</p> --}}
{{!--<p><a href="/errors/new" class="btn btn-default" id="newErrorButton">Új hiba felvitele</a></p> --}}
<button {{action 'showModal' 'new-subject-modal' "subjects.list"}} class="btn btn-default">Új</button>
{{!--
{{#modal-dialog title="My modal #1"}}
  This is the content of my modal #1
{{/modal-dialog}}
--}}