<table class="table table-striped table-hover " id="errorTable">
    <thead>
        <tr>
            <th>Tantárgy neve</th>
            <th>Kredit</th>
            <th>Leírás</th>
            <th>Funkció</th>
        </tr>   
    </thead>
    <tbody>
        
        {{#each errors}}
        <tr>
            <td>{{name}}</td>
            <td>{{credit}}</td>
            <td>{{description}}</td>
            <td>
                {{link-to "Tanár megtekintése" "subjects.view" this.teacherid class="btn btn-default btn-sm"}}
                <button {{action "deleteSubject" this }} class="btn btn-danger btn-sm">Törlés</button> {{!-- az adott objektumot törli --}}
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>